* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    font-family: Sans-Serif;
}

header {
    height: 40px;
    background-color: #160038;
    border-bottom: solid 1.5px #5f00b8;
}

.btn {
    width: 5rem;
    border-radius: 10px;
    border: solid 1px hsl(271, 100%, 45%);
    background-color: transparent;
    color: #E2E8F0;
    cursor: pointer;
}

.btn:hover {
    border: solid 1.5px hsl(271, 100%, 30%);
    color: hsl(214, 32%, 85%);
}

.header-btn-container {
    display: flex;
    border: solid 1px #5f00b8;
    border-radius: 8px;
    width: 25%;
    height: 100%;
}

.header-btn {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 22px;
    color: white;
}

.header-btn:hover {
    color: #8400ff;
    border: none;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #160038;
    color: white;
}

h2 {
    color: white;
}

.container {
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #0b0214, #160038);
    display: flex;
}

.calendar-container {
    justify-content: center;
}

.calendar {
    height: 47rem;
    margin-top: 20px;
    padding: 25px;
    background: linear-gradient(to bottom, rgb(32, 0, 51), rgb(15, 0, 26));
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0b0016;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar-header-btn {
    width: 30px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.calendar-header-btn:hover {
    background-color: rgb(73, 0, 116);
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 25px;
}

.text {
    color: #E2E8F0;
}

span {
    font-size: 20px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    gap: 5px;
}

.days-boxes {
    height: 100px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #7540a8;
}

.days-boxes:hover {
    color: white;
    background-color: #5f00b84d;
    border: solid 1px #5f00b8;
}

.selected {
    color: white;
    background-color: #5f00b8;
}

.selected:hover {
    background-color: #5f00b8;
    border: solid 1px #8400ff;
}

.selected-day {
    background-color: #5f00b84d;
}

.tasks {
    height: 47rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(32, 0, 51), rgb(15, 0, 26));
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0b0016;
}

.tasks-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    border-bottom: solid 1.5px #5f00b8;
}

.tasksbtn {
    font-size: 0.9rem;
    height: 2.5rem;
    background-color: hsl(271, 100%, 45%);
}

.tasksbtn:hover {
    background-color: hsl(271, 100%, 30%);
    color: hsl(214, 32%, 80%);
}

.registred-tasks {
    margin-top: 10px;
}
.activity {
    color: gray;
}

.add-task-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    
}

.add-task-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, rgb(32, 0, 51), rgb(15, 0, 26));
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: solid 1.5px #5f00b8;
    box-shadow: 3px 3px 5px #0b0016;
}

.bi-x-lg {
    position: absolute;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    
    color: #fff;
    font-size: 30px;
    width: 46px;
    height: 46px;
    top: 0;
    right: 0;
}

.bi-x-lg:hover{
    background-color: #ffffff25;
}

.input-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    display: flex;
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 20px;
    border: solid 1px hsl(271, 100%, 45%);
    background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.add-task-input {
    width: 20rem;
    height: 3rem;
}

.add-task-input-time {
    width: 7.5rem;
    height: 3rem;
}

.time-dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-btn {
    position: relative;
    border: solid 1.5px #5f00b8;
    height: 3rem;
    width: 6rem;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px hsl(271, 100%, 45%);
    cursor: pointer;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    border: solid 1px hsl(271, 100%, 45%);
    box-shadow: 3px 3px 5px #0b0016;
}

.content button {
    background-color: #160038;
    height: 3rem;
    width: 6rem;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.content button:hover {
    background-color: hsl(271, 100%, 20%);
}

.action-buttons-container {
    display: flex;
    gap: 10px;
}

.action-buttons {
    flex: 1;
    height: 3rem;
}

.save {
    background-color: hsl(271, 100%, 45%);
}

.save:hover {
    background-color: hsl(271, 100%, 30%);
    color: hsl(214, 32%, 80%);
}

.chart-container {
    display: flex;
    justify-content: center;
}

.pie-chart-container {
    background-color: rgb(32, 0, 51);
    display: flex;
    justify-content: row;
    height: 100%;
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0b0016;
}

.pie-chart-container h1 {
    background-color: rgb(32, 0, 51);
}

.pie {
    background-image:
    radial-gradient(
        rgb(32, 0, 51) 40%,
        transparent 0 70%,
        rgb(32, 0, 51) 0
    ),
    conic-gradient(
        red 40%,
        blue 0 65%,
        orange 0% 85%,
        pink 0
        );
    margin-top: 20px;
    font-size: clamp(1vw, 4vw, 4vw);
    width: 400px;
    height: 400px;
    color: #8400ff;
    cursor: pointer;
}

.chronometer-container {
    flex-direction: column;
}

.chronometer-div {
    display: flex;
    justify-content: center;
    font-size: 200px;
}

.chronometer-div-input {
    display: flex;
    justify-content: center;
}

.chronometer-input {
    width: clamp(30vw, 30vw, 30vw);
    height: clamp(2.5vw, 1vw, 1vw);
    padding: 4px 14px;
    border: solid 1px #8400ff;
    background-color: #160038;
}

.chronometer-div-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.chronometer-div p {
    font-size: 200px;
}

.chronometer-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px #8400ff;
    color: #8400ff;
    background-color: #160038;
    cursor: pointer;
}

.bi-play-fill {
    font-size: clamp(4vw, 4vw, 4vw);
}
.bi-arrow-clockwise {
    font-size: clamp(1vw, 4vw, 4vw);
}

.hide {
    display: none;
}

.spacing {
    visibility: hidden;
}